# Logs
logs
*.log
npm-debug.log*
.DS_Store
src/tmp/*.js

# Runtime data
pids
*.pid
*.seed

# nyc test coverage
.nyc_output

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

yarn-debug.log*
.eslintcache
/coverage
/dist
/local
/reports
/node_modules
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
